@{
    ViewData["Title"] = "KenKata - Categories";
}

<!-- #region HOME CATEGORIES -->
<section id="home-category" class="container mt-5">
    <h3>SHOP BY CATEGORY</h3>
    <hr />
    <p>
        We always try to give you the best product within a fast and
        reliable way
    </p>
    <div class="d-flex">
        <div class="me-3">
            <h5>Men</h5>
        </div>
        <div class="me-3">
            <h5>Women</h5>
        </div>
        <div class="me-3">
            <h5>Kids</h5>
        </div>
        <div class="me-3">
            <h5>Shoes</h5>
        </div>
        <div class="me-3">
            <h5>Hats</h5>
        </div>
        <div class="me-3">
            <h5>Sunglasses</h5>
        </div>
        <div>
            <h5>Watches</h5>
        </div>
    </div>
</section>
<!-- #endregion -->
