@using KenkataWebshop.WebClient.Controllers
@model List<CategoryViewModel>
@{
    ViewData["Title"] = "KenKata - Categories";
}

<!-- #region HOME CATEGORIES -->
<section id="home-category" class="container mt-5">
    <h3>SHOP BY CATEGORY</h3>
    <hr />
    <p>
        We always try to give you the best product within a fast and
        reliable way
    </p>
    <div class="d-flex">
        @foreach (var item in Model)
        {
            <div class="me-3">
                <h5>@item.Category</h5>
            </div>
        }
    </div>
</section>
<!-- #endregion -->
